<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In Page</title>
    <link rel="stylesheet" href="/assets/css/login.css" />
  </head>
  <body>

    <h1>Login Form</h1>

    <form action="/api/login" method="post">
      <input placeholder="username" name="username" type="text" />
      <br />
      <input placeholder="password" name="password" type="password" />
      <br />
      <input class="sub" type="submit" value="LOGIN NJIRR" />
      <h3>Dont have a account ?</h3>
      <a href="/user/signup">Create a new account</a>
    </form>
  </body>

<script>
    const form = document.querySelector('form');
    const username = document.querySelector('input[name="username"]');
    const password = document.querySelector('input[name="password"]');

    form.addEventListener('submit', (event) => {
        event.preventDefault();

        const data = {
            username: username.value,
            password: password.value
        };

        fetch('/api/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const pesan = data.message;
            if(pesan == "Login Success"){
                window.location.href = "/user/";
            }else{
                alert(pesan);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
  
</html>